*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --border: 1px solid rgba(0, 0, 0, 0.363);
    --bg-second: #94b9d1;
    --separador: 2px solid gray;
    --radius: 8px;
}

body{
    background-color: #EAF2F8;
}

.portafolio{
    position: relative;
}

.menu{
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0px;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 98%;
    border-radius: var(--radius);
    margin: 5px auto;
    /* x(horizontal) - y(vertical) - intensidad - border - color */
    box-shadow: 2px 2px 3px 1px black;
    background-color: var(--bg-second);
}

.menu__container{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@font-face {
    font-family: cream;
    src: url(Cream\ Cake.otf);
}

.menu__name{
    text-decoration: none;
    position: relative;
    z-index: 120;
    font-size: 40px;
    font-family: cream;
    color: black;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: var(--radius);
}

.span__name{
    position: absolute;
    bottom: -4px;
    right: 15px;
    width: 20px;
    height: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: var(--bg-second);
}

.span__name > span{    
    background-image: url(../icons/icon_home.svg);
    background-color: black;
    height: 3px;
    width: 3px;
    border-radius: 50%;
}

.list{
    display: flex;
    justify-content: space-between ;
    gap: 40px;
    position: relative;
}

.list__items{
    list-style: none;
}

.list__a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: relative;
}

.element__before{
    position: absolute;
    width: 0%;
    bottom: -4px;
    left: 0px;
    height: 3px;
    transition: width .5s;
    background-color: rgb(20, 20, 20);
}

.list__a:hover> .element__before{
    width: 100%;
}

/* Clase para mantener activado el element before al hacer click con javascript */
.item_active{
    width: 100%;
    background-color: gray;
}

/* .icons__menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 350px;
    right: 30px;
    opacity: 0;
} */

.icon__home{
    background-image: url(../icons/icon__home.svg);
}

.icon__aboutme{
    background-image: url(../icons/icon_about_me.svg);
}

.icon__skills{
    background-image: url(../icons/icon_skills.svg);
}

.icon__projects{
    background-image: url(../icons/icon_projects.svg);
}

.icon__contact{
    background-image: url(../icons/icon_contact.svg);
}

/* -------------------------------Sección Inicio-------------------------------------- */

.secciones{
    width: 98%;
    margin: 0px auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: var(--separador);
    scroll-margin-top: 80px;
}

.sec_inicio{
    height: 88vh;
}

.titulos{
    margin-top: 10px;
    font-size: 35px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.contenedores{
    width: 93%;
    height: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 30% 70% 30% 70% / 68% 32% 68% 32%;
    transition: all .5s;
}

.images:hover{
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.texto__inicio{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 30px;
}

.nombre__inicio{
    font-size: 35px;
}

.descripcion__inicio, .sobre__mi__descripcion{
    text-align: justify;
}

.botones{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border:none;
    box-shadow: 1px 1px 4px 0px black;
    transition: all .5s;
    border-radius: var(--radius);
    background-color: var(--bg-second);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.boton__inicio{
    width: 110px;
    height: 40px;
}

.botones:hover{
    cursor: pointer;
    background-color: #bfe1f8;
}

.ocupaciones{
    position: relative;
    padding: 1px;
}

.ocupaciones::before{
    content: " ";
    position: absolute;
    border-left: 1px solid black;
    width: 100%;
    height: 100%;
    bottom: 0%;
    left: 0%;
    background-color: #EAF2F8; 
    animation: animacion 4s steps(12) 0s infinite;
}

@keyframes animacion{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

/* -------------------------------Sección Sobre mí-------------------------------------- */

.sobre__mi__informacion{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 40px;
}

.contenedor__datos__personales{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.sobre__mi__titulo__datos{
    text-decoration: underline;
}

.sobre__mi__datos{
    font-weight: 580;
}

.datos__personales{
    margin-left: 10px;
}

.sobre__mi__descargarcv{
    text-decoration: none;
    width: 130px;
    height: 40px;
}

/* -------------------------------Sección Habilidades-------------------------------------- */

.habilidades__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px;
    overflow: auto;
    gap: 30px;
}

.card{
    box-shadow: 1px 2px 5px 2px black;
    width: 250px;
    height: 300px;
    border-radius: var(--radius);
    overflow: hidden;
}

.habilidades__title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #677f8f;
    background-color: var(--bg-second);
    width: 100%;
    height: 40px;
}

.list__habilidades{
    height: 270px;
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.icons{
    width: 35px;
    height: 35px;
    border-radius: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon__html{
    background-image: url(../icons/html-5.svg);
}

.icon__css{
    background-image: url(../icons/css-3.svg);
}

.icon__javascript{
    background-image: url(../icons/javascript.svg);
}

.icon__React{
    background-image: url(../icons/react.svg);
}

.icons__python{
    background-image: url(../icons/python.svg);
}

.icons__flask{
    background-image: url(../icons/flask.svg);
}

.icons__javascript{
    background-image: url(../icons/javascript.svg);

}

.icons__Node{
    background-image: url(../icons/nodejs.svg);

}

.habilidades__items{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* -------------------------------Sección Proyectos-------------------------------------- */

.projects__container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu__projects{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 40px;
}

.btn__projects{
    width: 80px;
    height: 30px;
}

.cards__container{
    width: 100%;
    height: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 30px;
}

.cards__projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: #94b9d17c;
}

.img__project{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px black;
}

.title__project{
    font-size: 20px;
}

.cardinfo{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 1px 2px 2px 2px black;
    border-radius: 8px;
    text-align: justify;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: white;
    opacity: 0;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.356);
}

.btn__cardinfo{
    width: 130px;
    height: 35px;
}

.cardinfo:hover{
    opacity: 1;
}

/* -------------------------------Sección Contacto-------------------------------------- */

.contacto__container{
    border: 2px solid hwb(204 58% 18%);
    border-radius: var(--radius);
}

.div__contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container__informacion__contacto{
    width: 45%;
    background-color: var(--bg-second);
}

.icons__contact__container{
    display: flex;
    gap: 20px;
}

.icons_contact{
    cursor: pointer;
    transition: .5s;
}

.icons_contact:hover{
    transform: translateY(-10px);
}

.icon__whapp{
    background-image: url(../icons/whatsapp-icon.svg);
}

.icon__Lkdn{
    background-image: url(../icons/linkedin-icon.svg);
}

.icon__git{
    background-image: url(../icons/gitlab.svg);
}

.icon__gmail{
    background-image: url(../icons/google-gmail.svg);
}

.container__formulario__contacto{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
}

.form_contact{
    width: 350px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: var(--radius);
    border: 2px double hwb(204 58% 18%);
}

.form__input{
    background-color: #94b9d150;
    height: 25px;
    border: var(--border);
    border-radius: 5px;
    padding-left: 6px;
}

.form__input__message{
    height: 100px;
    padding: 6px;
    resize: none;
}

.btn__form_send{
    width: 120px;
    height: 35px;
}
.icon_menu{
    position: relative;
    z-index: 120;
}
.input_menu{
    display: none;
}

/* ----------------------------------Media Query--------------------------------------------- */

@media screen and (max-width:850px){

    .icon_menu{
        background-image: url(../icons/menu_hamburger.svg);
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }
    .input_menu:checked~.list{
        left: 0px;
    } 
    .list{
        position: fixed;
        background-color: #94b9d1;
        left: 900px;
        z-index: 100;
        top: 0px;
        transition: .6s;
        right: 0px;
        bottom: 0px;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .list__a{
        font-size: 25px;
    }
    .habilidades__contenedor{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1 fr));
    }
    .titulo__inicio{
        margin-top: 10px;
    }
    .images{
        height: 90%;
        width: 32%;
    }
}

@media(max-width:750px){
    .contenedor__inicio{
        gap: 20px;
    }
    .habilidades__title{
        font-size: 18px;
    }
    .images{
        width: 35%;
        height: 80%;
    }
    .menu__projects{
        width: 75%;
        justify-content: space-between;
    }
    .btn__projects{
        width: 80px;
    }
    .form_contact{
        border: none;
    }
}

@media(max-width:705px){
    .form_contact{
        padding: 10px;
        width: 95%;
    }
    .title__contactanos{
        width: 150px;
        text-align: center;
    }
    .icons__contact__container{
        gap: 10px;
    }
}

@media(max-width: 650px){
    .sobre__mi__informacion{
        gap: 20px;
    }
}

@media(max-width:550px){
    .menu{
        width: 100%;
    }
    /* .list{
        width: 100%;
    } */
    /* .input_menu:checked~.list{
        left: 0;
    }  */
    .secciones{
        height: 150vh;
        gap: 10px;
    }
    .sec_inicio{
        height: 130vh;
    }
    .titulos{
        font-size: 28px;       
    }
    .texto__inicio{
        width: 100%;
        height: 45%;
        gap: 30px;
    }
    .nombre__inicio{
        font-size: 28px;
    }
    .contenedores{
        flex-direction: column;
        gap: 15px;
        height: 85%;
    }
    .nombre__inicio, .soy_inicio{
        margin: 0 auto;
    }
    .botones{
        font-size: 20px;
    }
    .boton__inicio{
        margin: 0 auto;
    }
    .images{
        width: 350px;
        height: 50%;
    }
    .sobre__mi__imagen{
        height: 50%;
    }
    .sobre__mi__contenedor{
        gap: 20px;
    }
    #sobre__mi{
        height: 160vh;
    }
    .sobre__mi__informacion{
        width: 93%;
        gap: 30px;
    }
    .sobre__mi__descargarcv{
        margin: 0 auto;
    }
    .menu__projects{
        width: 60%;
        justify-content: center;
        gap: 10px;
    }
    .btn__projects{
        width: 70px;
    }
    .container__informacion__contacto{
        width: 100%;
        height: 40%;
    }
    .container__formulario__contacto{
        width: 100%;
        height: 60%;
        padding: 30px 10px;
        gap: 10px
    }
    .contacto__container{
        flex-direction: column;
        height: 85%;
    } 
    .icons__contact__container{
        gap: 20px;
    }
    .form_contact{
        padding: 10px;
        width: 75%;
    }
}

@media(max-width:375px){
    .images{
        width: inherit;
        height: 50%;
    }
    .texto__inicio{
        gap: 20px;
    }
    .sobre__mi__imagen{
        height: 45%;
    }
    #contacto{
        height: 130vh;
    }
}

@media(max-width:320px){
    .sec_inicio{
        height: 150vh;
    }
}